<a href="https://colab.research.google.com/github/pr0fez/AI24-Programmering/blob/master/Exercises/03-for-statement-exercise.ipynb" target="_parent"><img align="left" src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a> &nbsp; to see hints and answers.

# for statement exercises

---
These are introductory exercises in Python with focus in **for** statement.

<p class = "alert alert-info" role="alert"><b>Remember</b> to use <b>descriptive variable names</b> in order to get readable code </p>

<p class = "alert alert-info" role="alert"><b>Remember</b> to format your answers in a neat way using <b>f-strings</b>

<p class = "alert alert-info" role="alert"><b>Remember</b> to format your input questions in a pedagogical way to guide the user

The number of stars (\*), (\*\*), (\*\*\*) denotes the difficulty level of the task

---

## 1. Count numbers (*)

Use a **for** statement to count from: 

&nbsp; a) &nbsp; -10 to 10 with one increment (*)

&nbsp; b) &nbsp; -10 to 10 with two increment (*)

<details>

<summary>Answer </summary>

```
a) -10 -9 -8 -7 -6 -5 -4 -3 -2 -1 0 1 2 3 4 5 6 7 8 9 10

b) -10  -8  -6  -4  -2  0  2  4  6  8  10
```

</details>

In [9]:
for i in range(-10,11):
    print(i, end=" ")
print("\n")
for i in range(-10,12,2):
    print(i, end=" ")

-10 -9 -8 -7 -6 -5 -4 -3 -2 -1 0 1 2 3 4 5 6 7 8 9 10

-10 -8 -6 -4 -2 0 2 4 6 8 10

---
## 2. Arithmetic sum (*)
Use a **for** statement to compute the following sums: 

&nbsp; a) &nbsp; $\text{sum} = 1 + 2 + \ldots + 99+ 100$ (*)

&nbsp; b) &nbsp; $\text{sum} = 1 + 3 + 5 + \ldots + 97 + 99$ (*)

<details>

<summary>Answer </summary>

```
a) 1 + 2 + ... + 99 + 100 = 5050 

b) 1 + 3 + 5 +...+ 97 + 99 = 2500
```

</details>

In [11]:
# n = 101
# summa = 0
# for i in range(n):
#     summa += i
#     print(summa)

y = 100
summa = 0 
for i in range(1, y, 2):
    summa += i
    print(summa)

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400
441
484
529
576
625
676
729
784
841
900
961
1024
1089
1156
1225
1296
1369
1444
1521
1600
1681
1764
1849
1936
2025
2116
2209
2304
2401
2500

---
## 3. Multiplication table (*)
Use **for** statement(s) to:

&nbsp; a) &nbsp; print out the 6th multiplication table from 0 to 10 (*)

&nbsp; b) &nbsp; let the user input the **table**, **start** and **end** of the table. (*)

&nbsp; c) &nbsp; print out a full multiplication table from 0 to 10. (**)


<details>

<summary>Hint</summary>

c) Use nested for-loops, which means a for-loop in a for-loop. To format the table nicely, use **f-string**: 

```python
print(f"{number :4}", end = "")
```


</details>


<details>

<summary>Answer </summary>

a)
```
0 6 12 18 24 30 36 42 48 54 60
```

b) e.g. 

```
Which table are you interested in? 5
Specify start of table: 5
Specify end of table: 12

Your 5th multiplication table from 5 to 12: 25 30 35 40 45 50 55 60
```

c)

```
   0   0   0   0   0   0   0   0   0   0   0
   0   1   2   3   4   5   6   7   8   9  10
   0   2   4   6   8  10  12  14  16  18  20
   0   3   6   9  12  15  18  21  24  27  30
   0   4   8  12  16  20  24  28  32  36  40
   0   5  10  15  20  25  30  35  40  45  50
   0   6  12  18  24  30  36  42  48  54  60
   0   7  14  21  28  35  42  49  56  63  70
   0   8  16  24  32  40  48  56  64  72  80
   0   9  18  27  36  45  54  63  72  81  90
   0  10  20  30  40  50  60  70  80  90 100
```

</details>

In [519]:

def user_input():
    while True:
        
        table = int(input("Which table are you interested in?: "))
        start = int(input("specify start of table: "))
        end = int(input("specify end of table: "))
        print(f"\n\nUser asked for table {table}, Start: {start}, end: {end}\n")
        for i in range(start, end+1):
            print(f"{i*table:>3}", end=" ")
        
        break


def tenbyten():
    y = 11
    x = 11

    for i in range(y):
        print("\n")
        for y in range(x):
            print(f"{i * y:>3}", end="  ")


tenbyten()
user_input()

  0    0    0    0    0    0    0    0    0    0    0

  0    1    2    3    4    5    6    7    8    9   10

  0    2    4    6    8   10   12   14   16   18   20

  0    3    6    9   12   15   18   21   24   27   30

  0    4    8   12   16   20   24   28   32   36   40

  0    5   10   15   20   25   30   35   40   45   50

  0    6   12   18   24   30   36   42   48   54   60

  0    7   14   21   28   35   42   49   56   63   70

  0    8   16   24   32   40   48   56   64   72   80

  0    9   18   27   36   45   54   63   72   81   90

  0   10   20   30   40   50   60   70   80   90  100

ValueError: invalid literal for int() with base 10: ''

---
## 4. Faculty (*)

Use a **for** statement to compute $n!$. 

$n! = 1\cdot2\cdot3\cdot\ldots\cdot(n-1)\cdot n $

Let the user input $n$.

In [509]:
def faculty(n):
    return ((n-1) * n)

produkt = faculty(6)
print(produkt)

n=6
summa = 1
for i in range(n-1, n+1):
    summa *= i
    print(summa)

30
5
30

--- 
## 5. Guess the number (*)

The computer thinks of a four-digit number. Start by creating a random four-digit number. Use **for** statement to figure out a correct guess

<br>
<details>

<summary>Answer </summary>

e.g.
```
The final guess is 8993
The computer number is 8993
```

</details>

In [510]:
import random as rng
computer_number = rng.randint(1000,9999)
low = 1000
high = 9999
guess = 0
mid = 0
for i in range(0,100):
    mid = (low + high) // 2
    if mid == computer_number:
        print(f"Correct guess was found at {i} iterations, RNG:{computer_number} Guess:{mid}")
        break
    elif mid < computer_number:
        low = mid + 1
    else:
        high = mid -1

Correct guess was found at 12 iterations, RNG:1014 Guess:1014

---
## 6. Rice on chessboard (*)

In first square of the chessboard there is one grain of rice, in the second square there is two grains, in the third square there is four grains and so on. How many grains are there in the whole chessboard when all squares are filled using this pattern?

<img align="left" src="../assets/chessboard.png" width="300"/>

<details>

<summary>Answer</summary>

```
18446744073709551615 number of grains
```

</details>

In [511]:
y = 8 
x = 8
rice = 1
for i in range(x):
    for i in range(y):
        rice *=2
print(f"Amount of rice: {rice}")

Amount of rice: 18446744073709551616

---

pr0fez Giang

[LinkedIn][linkedIn_pr0fez]

[GitHub portfolio][github_portfolio]

[linkedIn_pr0fez]: https://www.linkedin.com/in/pr0fezgiang/
[github_portfolio]: https://github.com/pr0fez/Portfolio-pr0fez-Giang

---